doctype html
html(lang='es')
  head
    title='Habit-O-matic'
    meta(name="viewport" content="width=device-width, user-scalable=no")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css").
    link(rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css").
    link(rel="stylesheet" href="/css/bootstrap-colorpicker.css").
    link(rel="stylesheet" href="/css/bootstrap-slider.css").
    link(href="/css/style.css" rel="stylesheet").
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js').
  body
    block content
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js').
  script(src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js").
  script(src="/js/chartist-tooltip.js").
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js").
  script(src="/js/bootstrap-colorpicker.js").
  script(src="/js/bootstrap-slider.min.js").
  script(src='/js/main.js').
  
